<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/master :: head (title = 'Starter')"><title>...</title></head>

<body>

<nav th:replace="fragment/nav :: AllMenu">...</nav>
<div id="display">

    <th:block th:if="${action == #info.PERSIST}">
        <div class="alert alert-danger" th:if="${param.error}" th:text="${param.error}">...</div>
        <div class="alert alert-success" th:if="${param.success}" th:text="${param.success}">...</div>
        <div class="alert alert-danger" th:if="${error}" th:text="${error}">...</div>
        <div class="alert alert-success" th:if="${success}" th:text="${success}">...</div>
        <div class="container text-center">
            <div class="display-4 mx-auto my-2">Add an Employee</div>
            <div class="mx-auto" style="max-width: 800px;">
                <th:block th:replace="fragment/form::form-auto (action = ${action})" >...</th:block>
            </div>
        </div>
    </th:block>
    <th:block th:if="${action == #info.MERGE}">
        <div class="alert alert-danger" th:if="${param.error}" th:text="${param.error}">...</div>
        <div class="alert alert-success" th:if="${param.success}" th:text="${param.success}">...</div>
        <div class="alert alert-danger" th:if="${error}" th:text="${error}">...</div>
        <div class="alert alert-success" th:if="${success}" th:text="${success}">...</div>
        <div class="container text-center">
            <div class="display-4 mx-auto my-2">Edit an Employee</div>
            <div class="mx-auto" style="max-width: 800px;">
                <th:block th:replace="fragment/form::form-auto (action = ${action})" >...</th:block>
            </div>
        </div>
    </th:block>
    <th:block th:if="${action == #info.VIEW}">
        <div class="alert alert-danger" th:if="${param.error}" th:text="${param.error}">...</div>
        <div class="alert alert-success" th:if="${param.success}" th:text="${param.success}">...</div>
        <div class="alert alert-danger" th:if="${error}" th:text="${error}">...</div>
        <div class="alert alert-success" th:if="${success}" th:text="${success}">...</div>
        <div class="container">
            <div class="display-4 my-2">Employee Directory</div>
            <div class="" style="max-width: 800px;">
                <th:block th:replace="fragment/view::view-auto (action = ${action})" >...</th:block>
            </div>
        </div>
    </th:block>

</div>
</body>
</html>
