<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/master :: head (title = 'Starter')"><title>...</title></head>

<body>

<nav th:replace="fragment/nav :: AllMenu">...</nav>
<div id="display">
    <div class="container">
    <div class="display-4 mx-auto my-2">Welcome to JBC, Co.</div>
    <ul>
    <th:block th:each="department : ${departmentCollection}">
            <li>
                <a th:href="@{/department/edit(id=${department.id})}" th:text="${department.name}">...</a>
                <ul>
                <th:block th:each="employee : ${department.employeeCollection}">
                    <li> <a th:href="@{/employee/edit(id=${employee.id})}" th:text="${employee.displayName}">...</a>
                        (<a sec:authorize="!isAuthenticated()" th:href="@{/login(username=${employee.username})}"  th:text="${employee.username}">...
                        </a><span sec:authorize="isAuthenticated()" th:text="${employee.username}">...</span>)
                    </li>
                </th:block>
                </ul>
            </li>
    </th:block>
    </ul>
    </div>
</div>
</body>
</html>
